flows.json
[
    {
        "id": "dbf7bfac9deb3b76",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46eac0e758129262",
        "type": "tab",
        "label": "geofencing demo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "12f51630d4ade7a5",
        "type": "ui_group",
        "name": "Geo Fancing",
        "tab": "6c840d909829e409",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b1373c9.68594c",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "db0",
        "name": "Server 46",
        "usetls": false,
        "tls": "ca02cd774711dea0",
        "influxdbVersion": "2.0",
        "url": "http://46.38.243.223:8086/",
        "rejectUnauthorized": true
    },
    {
        "id": "6c840d909829e409",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ca02cd774711dea0",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "20f92bba13aa60ee",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6ef76df7976f228e",
        "type": "ui_group",
        "name": "Default",
        "tab": "34ad6d137dc84bd3",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "31e276cb951db193",
        "type": "ui_group",
        "name": "info",
        "tab": "34ad6d137dc84bd3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "34ad6d137dc84bd3",
        "type": "ui_tab",
        "name": "map",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "39a2a9f80bc66c7f",
        "type": "function",
        "z": "dbf7bfac9deb3b76",
        "name": "poly gen",
        "func": "let counter = context.get('counter') || 0;\n\nconst latitude = 48.2082;\nconst longitude = 16.3738;\n\nconst offsetLat = (Math.random() - 0.5) * 0.01;\nconst offsetLon = (Math.random() - 0.5) * 0.01;\n\nconst newLatitude = latitude + offsetLat;\nconst newLongitude = longitude + offsetLon;\n\n\nmsg.payload = {\n    name: 'generated-point-' + counter,\n    lat: newLatitude,\n    lon: newLongitude\n};\n\n\ncontext.set('counter', ++counter);\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "5b9bf86f973e6164"
            ]
        ]
    },
    {
        "id": "25608f60ec0df0b2",
        "type": "inject",
        "z": "dbf7bfac9deb3b76",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "39a2a9f80bc66c7f"
            ]
        ]
    },
    {
        "id": "04f46cfc8b192169",
        "type": "worldmap",
        "z": "dbf7bfac9deb3b76",
        "name": "",
        "lat": "48.21",
        "lon": "16.36",
        "zoom": "13",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1040,
        "y": 320,
        "wires": []
    },
    {
        "id": "80edec69ceb14877",
        "type": "function",
        "z": "dbf7bfac9deb3b76",
        "name": "Poly save",
        "func": "if (msg.payload.action === \"draw\" && msg.payload.type === \"rectangle\") {\n    global.set('polygon', msg.payload.area);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            [
                "5b9bf86f973e6164"
            ]
        ]
    },
    {
        "id": "f1b84dc286b4570f",
        "type": "worldmap in",
        "z": "dbf7bfac9deb3b76",
        "name": "",
        "path": "/worldmap",
        "events": "connect,disconnect,point,layer,bounds,files,draw,other",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "80edec69ceb14877"
            ]
        ]
    },
    {
        "id": "5b9bf86f973e6164",
        "type": "function",
        "z": "dbf7bfac9deb3b76",
        "name": "geofence",
        "func": "\nconst point = [msg.payload.lat, msg.payload.lon];\nconst polygon = global.get('polygon') || [];\n//node.warn(\"Polygon: \" + JSON.stringify(polygon));\n\n\n\n\n//node.warn(\"Punkt: \" + JSON.stringify(point));\n//node.warn(\"Polygon: \" + JSON.stringify(polygon));\n\nfunction isPointInPolygon(point, polygon) {\n    let isInside = false;\n    let x = point[1], y = point[0];\n\n    for (let i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        let xi = polygon[i].lng, yi = polygon[i].lat;\n        let xj = polygon[j].lng, yj = polygon[j].lat;\n\n        if ((yi > y) !== (yj > y) &&\n            (x < (xj - xi) * (y - yi) / (yj - yi) + xi)) {\n            isInside = !isInside;\n        }\n    }\n    return isInside;\n}\n\n\nconst isInside = isPointInPolygon(point, polygon);\n\n\nmsg.payload.isInside = isInside;\n\nif (isInside) {\n    msg.payload.iconColor = \"green\";\n} else {\n    msg.payload.iconColor = \"red\";\n}\n\nmsg.payload.layer = \"pointsLayer\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 240,
        "wires": [
            [
                "04f46cfc8b192169",
                "67aa2bd42c74c764",
                "6e906b4791ec5fdc"
            ]
        ]
    },
    {
        "id": "2cdf0bf79edee83f",
        "type": "ui_template",
        "z": "dbf7bfac9deb3b76",
        "group": "12f51630d4ade7a5",
        "name": "",
        "order": 1,
        "width": "20",
        "height": "12",
        "format": "<iframe src=\"/worldmap\" style=\"width:100%; height:70vh;\" frameborder=\"0\"></iframe>\n\n<style>\n    .nr-dashboard-template {\n        width: 100% !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 320,
        "wires": [
            [
                "04f46cfc8b192169"
            ]
        ]
    },
    {
        "id": "11bf5e7dec911278",
        "type": "ui_button",
        "z": "dbf7bfac9deb3b76",
        "name": "",
        "group": "12f51630d4ade7a5",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Clear Rectangle",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "0320f9d4d9276df8"
            ]
        ]
    },
    {
        "id": "0320f9d4d9276df8",
        "type": "function",
        "z": "dbf7bfac9deb3b76",
        "name": "delete Polys",
        "func": "global.set('polygon', null);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 360,
        "wires": [
            [
                "290965ef1e46dbff"
            ]
        ]
    },
    {
        "id": "290965ef1e46dbff",
        "type": "change",
        "z": "dbf7bfac9deb3b76",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"clear\":\"_drawing\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "04f46cfc8b192169"
            ]
        ]
    },
    {
        "id": "73bd29b0c187a3c7",
        "type": "ui_button",
        "z": "dbf7bfac9deb3b76",
        "name": "",
        "group": "12f51630d4ade7a5",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Clear Points",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "586b68a649870fdd"
            ]
        ]
    },
    {
        "id": "586b68a649870fdd",
        "type": "change",
        "z": "dbf7bfac9deb3b76",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"clear\":\"pointsLayer\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 400,
        "wires": [
            [
                "04f46cfc8b192169"
            ]
        ]
    },
    {
        "id": "6e906b4791ec5fdc",
        "type": "influxdb out",
        "z": "dbf7bfac9deb3b76",
        "influxdb": "1b1373c9.68594c",
        "name": "gps Bucket",
        "measurement": "gpssensor",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Uni",
        "bucket": "gpsBucket1",
        "x": 1050,
        "y": 180,
        "wires": []
    },
    {
        "id": "4056d334a16f9d17",
        "type": "influxdb in",
        "z": "dbf7bfac9deb3b76",
        "influxdb": "1b1373c9.68594c",
        "name": "",
        "query": "from(bucket: \"gpstest1\")\n  |> range(start: -100d)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"gpssensor\")\n  |> filter(fn: (r) => r[\"_field\"] == \"lon\" or r[\"_field\"] == \"lat\")\n  |> pivot(rowKey:[\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "org0",
        "x": 490,
        "y": 540,
        "wires": [
            [
                "2de80327ea49d6b4"
            ]
        ]
    },
    {
        "id": "4c0e72249f314a56",
        "type": "ui_button",
        "z": "dbf7bfac9deb3b76",
        "name": "",
        "group": "12f51630d4ade7a5",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Calc Total Distance (WIP)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 540,
        "wires": [
            [
                "4056d334a16f9d17"
            ]
        ]
    },
    {
        "id": "2de80327ea49d6b4",
        "type": "debug",
        "z": "dbf7bfac9deb3b76",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 540,
        "wires": []
    },
    {
        "id": "67aa2bd42c74c764",
        "type": "function",
        "z": "dbf7bfac9deb3b76",
        "name": "calc Distance",
        "func": "const R = 6371e3;\n\nfunction toRadians(degrees) {\n    return degrees * (Math.PI / 180);\n}\n\nfunction calculateDistance(lat1, lon1, lat2, lon2) {\n    const phi1 = toRadians(lat1);\n    const phi2 = toRadians(lat2);\n    const deltaPhi = toRadians(lat2 - lat1);\n    const deltaLambda = toRadians(lon2 - lon1);\n\n    const a = Math.sin(deltaPhi / 2) * Math.sin(deltaPhi / 2) +\n        Math.cos(phi1) * Math.cos(phi2) *\n        Math.sin(deltaLambda / 2) * Math.sin(deltaLambda / 2);\n    const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n\n    return R * c;\n}\n\n\n\nconst currentPoint = {\n    lat: msg.payload.lat,\n    lon: msg.payload.lon\n};\n\n\nconst previousPoint = global.get(\"previousPoint\") || currentPoint;\nconst distance = calculateDistance(currentPoint.lat, currentPoint.lon, previousPoint.lat, previousPoint.lon);\nconst totalDistance = global.get(\"totalDistance2\") || 0;\nglobal.set(\"totalDistance2\", totalDistance + distance);\nglobal.set(\"previousPoint\", currentPoint);\n\nreturn { payload: (totalDistance + distance) / 1000 + \" km\" };\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 100,
        "wires": [
            [
                "58c2d1223a696414",
                "29410ddefe6ccc2d"
            ]
        ]
    },
    {
        "id": "58c2d1223a696414",
        "type": "ui_text",
        "z": "dbf7bfac9deb3b76",
        "group": "12f51630d4ade7a5",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Distance",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 100,
        "wires": []
    },
    {
        "id": "29410ddefe6ccc2d",
        "type": "ui_text",
        "z": "dbf7bfac9deb3b76",
        "group": "12f51630d4ade7a5",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total Distance",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 60,
        "wires": []
    },
    {
        "id": "fd7c944f51ac7a17",
        "type": "ui_button",
        "z": "dbf7bfac9deb3b76",
        "name": "",
        "group": "12f51630d4ade7a5",
        "order": 6,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Generate Random Point",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "39a2a9f80bc66c7f"
            ]
        ]
    },
    {
        "id": "012a7884b08f1045",
        "type": "debug",
        "z": "46eac0e758129262",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "ffd112db870b619b",
        "type": "worldmap",
        "z": "46eac0e758129262",
        "d": true,
        "name": "",
        "lat": "52.621",
        "lon": "-2.49",
        "zoom": "15",
        "layer": "OSMC",
        "cluster": "15",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,BU,RW,TL,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 860,
        "y": 300,
        "wires": []
    },
    {
        "id": "dcece3f70a0d0699",
        "type": "function",
        "z": "46eac0e758129262",
        "name": "move icon",
        "func": "//let inarea_flag=flow.get(\"inarea_flag\");\nlet count_flag =true;\n//if (typeof inarea_flag==\"undefined\")\n //   inarea_flag=false;\nlet count=context.get(\"count\");\nif (typeof count==\"undefined\" || msg.topic==\"reset\")\n    count=0;\nvar icon=context.get(\"icon\");\nif (typeof icon==\"undefined\")\nicon=\"\";\nif (msg.topic==\"icon\")\n{\nicon=msg.payload;\ncount_flag=false;\n\n}\nlet s_lat=52.628945;\nlet s_long=-2.501205\nlet end_lat=52.62405;\nlet end_long=-2.470593;\nlet inc_lat=(end_lat-s_lat)/12;\nlet inc_long=(end_long-s_long)/12;\nlet i_color=\"blue\";\n//if(inarea_flag)\n//i_color=\"green\";\nif(count_flag && msg.topic!=\"reset\")\n{\n    count+=1;\n//node.log(\"colour=\"+i_color);\n}\nif(msg.topic==\"reverse\" && count>2)\ncount=count-2;\n\nlet lat=s_lat+(count*inc_lat);\nlet long=s_long+(count*inc_long);\nmsg.payload = { \"name\":\"Jason\", \"lat\":lat, \"lon\":long,\"iconColor\":i_color,\"icon\":icon}    \n\nif (count <=12)\ncontext.set(\"count\",count);\ncontext.set(\"icon\",icon);\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 440,
        "wires": [
            [
                "9df49d3b2e72c45c"
            ]
        ]
    },
    {
        "id": "9df49d3b2e72c45c",
        "type": "function",
        "z": "46eac0e758129262",
        "name": "",
        "func": "let payload=msg.payload;\nlet location=msg.location;\nlet inarea_flag=false;\nif (location.inarea)\n    inarea_flag=true;\n//flow.set(\"inarea_flag\",inarea_flag);\nlet i_color=\"blue\";\nmsg.heating=\"Off\";\nif(inarea_flag)\n{\ni_color=\"green\";\nmsg.heating=\"ON\";\n}\nmsg.payload.iconColor=i_color;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 120,
        "wires": [
            [
                "012a7884b08f1045",
                "693ad01eb0ef224a",
                "e685cc532388777b"
            ]
        ]
    },
    {
        "id": "693ad01eb0ef224a",
        "type": "ui_worldmap",
        "z": "46eac0e758129262",
        "group": "6ef76df7976f228e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "52.621",
        "lon": "-2.49",
        "zoom": "15",
        "layer": "OSMC",
        "cluster": "15",
        "maxage": "",
        "usermenu": "hide",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 900,
        "y": 140,
        "wires": []
    },
    {
        "id": "e685cc532388777b",
        "type": "ui_text",
        "z": "46eac0e758129262",
        "group": "31e276cb951db193",
        "order": 0,
        "width": "2",
        "height": "1",
        "name": "Heating",
        "label": "Heating",
        "format": "{{msg.heating}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 40,
        "wires": []
    },
    {
        "id": "ac6140438657e6c8",
        "type": "ui_button",
        "z": "46eac0e758129262",
        "name": "Move",
        "group": "31e276cb951db193",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Move",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "move",
        "topicType": "str",
        "x": 270,
        "y": 460,
        "wires": [
            [
                "dcece3f70a0d0699"
            ]
        ]
    },
    {
        "id": "a8415190a89a44d8",
        "type": "ui_button",
        "z": "46eac0e758129262",
        "name": "Reset",
        "group": "31e276cb951db193",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "reset",
        "topicType": "str",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "dcece3f70a0d0699"
            ]
        ]
    },
    {
        "id": "e847230083f5c91c",
        "type": "ui_button",
        "z": "46eac0e758129262",
        "name": "Reverse",
        "group": "31e276cb951db193",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Reverse",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "reverse",
        "topicType": "str",
        "x": 280,
        "y": 520,
        "wires": [
            [
                "dcece3f70a0d0699"
            ]
        ]
    },
    {
        "id": "b56fa532582a17ec",
        "type": "ui_dropdown",
        "z": "46eac0e758129262",
        "name": "Set Icon",
        "label": "Set Icon",
        "tooltip": "",
        "place": "Select option",
        "group": "31e276cb951db193",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Plane",
                "value": "plane",
                "type": "str"
            },
            {
                "label": "Ship",
                "value": "ship",
                "type": "str"
            },
            {
                "label": "Male",
                "value": "male",
                "type": "str"
            },
            {
                "label": "Female",
                "value": "female",
                "type": "str"
            },
            {
                "label": "helicopter",
                "value": "helicopter",
                "type": "str"
            },
            {
                "label": "Default",
                "value": "\"\"",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "icon",
        "topicType": "str",
        "className": "",
        "x": 290,
        "y": 620,
        "wires": [
            [
                "dcece3f70a0d0699"
            ]
        ]
    },
    {
        "id": "0f7a4e9bbd09d9fc",
        "type": "geofence",
        "z": "46eac0e758129262",
        "name": "",
        "mode": "circle",
        "inside": "true",
        "rad": 0,
        "points": [],
        "centre": {
            "latitude": 0,
            "longitude": 0
        },
        "floor": "",
        "ceiling": "",
        "worldmap": false,
        "outputs": 1,
        "x": 700,
        "y": 340,
        "wires": [
            []
        ]
    }
]