flows.json
[
    {
        "id": "983154c4836a9165",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c094130f74a552e",
        "type": "inject",
        "z": "983154c4836a9165",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "5fb05c8b2fe8630f",
                "d3660ba7039af409"
            ]
        ]
    },
    {
        "id": "5fb05c8b2fe8630f",
        "type": "debug",
        "z": "983154c4836a9165",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "d3660ba7039af409",
        "type": "function",
        "z": "983154c4836a9165",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 420,
        "wires": [
            [
                "5fb05c8b2fe8630f"
            ]
        ]
    }
]